body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background-color: black;
}

.header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    padding: 2rem;
    margin: 0;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    color: black;
}

.header ul li {
    padding: 1rem;
    margin: 0 1rem;
    background-color: white;
    border-radius: 50px;
}

.header nav ul li a {
    text-decoration: none;
    color: black;
}

.tarjeta {
    background-color: aquamarine;
    margin: 1rem;
    padding: 1rem;
}

.tarjeta button {
    background-color: aliceblue;
    border-radius: 50px;
    border-style: solid;
    border-color: beige;
    display: block;
    margin: 0 auto;
}

.contenedor-temas {
    margin: 1rem;
}

.tema {
    background-color: aquamarine;
    padding: 1rem;
    margin: 1rem 0;
}

.tema h2 {
    text-align: center;
}

.tema p {
    text-align: justify;
}

.tema img {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;
    
}

.formularios {
    background-color: greenyellow;
    margin: 1rem auto;
    padding: 2rem 1rem 3rem 1rem;
    width: 100%;
    max-width: 400px;
    border-radius: 50px;
}

.formularios h1{
    text-align: center;
}

.formularios input {
 width: 90%;
}

.formularios button {
    display: block;
    width: 50%;
    margin: 3rem auto 1rem auto;
    border-radius: 50px;
    border-color: white;
    background-color: black;
    color: white;
}

@media (min-width: 768px) {
    .header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contenedor-tarjetas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tarjeta {
        flex: 1;
    }

    .contenedor-temas {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 0 1rem;
    }

    .tema img {
        width: 50%;
        height: auto;
        display: block;
        margin: 0 auto 1rem auto;
    }

}